@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/sirius-black9999" target="_blank" class="ml-md-auto">GitHub</a>
            <a href="https://www.linkedin.com/in/tychohenzen" target="_blank" class="ml-2">LinkedIn</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 Tycho Henzen - Software Engineer
    </div>
</footer>